.locationContainer {
    width: 100%;
    text-align: left;
    color: #888;
    line-height: 35px;
}

.locationContainer h1 {
    margin: 0
}

/* https://fonts.google.com/specimen/Roboto?selection.family=Roboto */

.weatherLocationContainer {
    width: 400px;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
    margin: 30px;
}