/* Recursos varios:

    Fuente Roboto de Google:
        https://fonts.google.com/specimen/Roboto?selection.family=Roboto

    https://www.cssmatic.com/
        Generador online de gradientes, bordes, sombreados que permite
            copiarse el css necesario para éstos y más efectos y diseños
            manipulables desde la página.

    https://css-tricks.com/
        Tutoriales sobre flexbox, grid, etc:

        https://css-tricks.com/snippets/css/a-guide-to-flexbox/
        https://css-tricks.com/snippets/css/complete-guide-grid/
        https://css-tricks.com/complete-guide-table-element/
        https://css-tricks.com/centering-css-complete-guide/
        https://css-tricks.com/a-complete-guide-to-svg-fallbacks/
        https://css-tricks.com/nerds-guide-color-web/
        https://css-tricks.com/a-complete-guide-to-data-attributes/
        https://css-tricks.com/a-complete-guide-to-links-and-buttons/
        https://css-tricks.com/guides/web-components/
        https://css-tricks.com/guides/how-to-think-like-a-front-end-developer/
        https://css-tricks.com/guides/beginner/
        https://css-tricks.com/guides/react/
*/

.weatherDataContainer {
    background-color: rgba(200, 200, 200, 0.5);
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.weatherExtraInfoContainer {
    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}

.weatherTemperatureContainer {
    width: 60%;
    display: inline-block;
}

.temperature {
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
    color: #333
}

.temperatureType {
    font-weight: bold;
    color: #666;
}

.extraInfoText {
    display: block;
    color: #1535C5;
    font-size: 16px;
    font-weight: bold;
}

.wicon {
    color: rgb(255, 72, 0)
}